nav{
    padding: 50px 100px;
    background-color: lemonchiffon;

    
}
.links a{
    text-decoration: none;
    margin-left: 10%;
    padding: 16px 16px;
    background-color:olive;
    border: 0;
    color: white;
    float: right;
    justify-content: center;
    vertical-align: middle;
    top: 50%;
    transform: translateY(-50%);

}
nav a.title{
    text-decoration: none;
    float: left;
    /* margin-left: 10%; */
    color: olive;
    top: 50%;
  transform: translateY(-50%);
}
    
nav a:hover{
    opacity: 50%;
}

.calendar{
    length: 300px;
    width: 300px;
    padding: 300px 300px;
    background-color: darkkhaki;
    margin: auto;
    margin-top: 50px;
}

.dateCount{
    justify-self: center;
    padding-left: 50%;
}